* {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  color: #fff
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(0,212,255,1) 100%);
}

header {
  padding: 50px;
  font-size: 50px;
}

h1 {
  line-height: 105px;
}

h1 span {
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  color: rgba(9,9,121,1);
}

.timer,
h2 {
  text-align: center;
}

.timer {
  font-size: 60px;
  padding: 40px;
}

.answer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

label {
  background-color: #fff;
  color: rgba(9,9,121,1);
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  box-shadow: 5px 0 10px #00000022;
}

label:focus,
label:hover,
label:active {
  background-color: rgba(9,9,121,1);
  color: #fff;
  box-shadow: inset 5px 0 10px #00000022;
}

.message {
  text-align: center;
}